body{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #002a3f;

}
.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.pict_before{
    border : 1px solid black;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 211px;
}

.pict_after{
    border : 1px solid black;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 211px;
}

h1{
    font-weight: bold;
    color: antiquewhite;
    font-size: 60px;
    font-family: 'Poppins', Courier, monospace;
}

.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
.persen{
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="file"]{
    display: none;
}
output{
    font-size: 30px;
}

label{
    color: white;
    height: 60px;
    width: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5af09;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submission {
    margin: auto;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    height: 35px;
    width: 70px;
    transition-duration: 0.4s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submission:hover{
    background-color: #4CAF50; /* Green */
    color: rgb(255, 255, 255);
}
