<!DOCTYPE html>
<head>

</head>

<body>
<div align="center">
    <h1> TES WEBSITE </h1>
`   <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type = "file" name="file" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
    {% if filename %}
        <img src= "{{ url_for('display_image', filename=filename) }}">
        <img src= "{{ url_for('display_compressed_image', filename=com_fn) }}">
    {% endif %}
</div>

</body>